<!DOCTYPE html>
<html>
    <head>
    <head>
        <script src="../public/js/jquery-1.10.2.min.js"></script>
        <script src="../public/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../public/css/bootstrap.min.css">
        <link rel="stylesheet" href="../public/css/bootstrap-responsive.min.css"> 
        <script type="text/JavaScript" src="../public/js/result.js"></script>
        <link href="../public/css/result.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="iframe">
            <iframe src="http://nodeknockout.com/iframe/kaiju" frameborder=0 scrolling=no allowtransparency=true width=115 height=25>
            </iframe>
        </div>
        <div class="main_top">
            <img src="../public/img/koiju-logo-small.png"/>
            <a href='#' class="btn btn-small btn-primary" style="margin:0px 20px 5px 20px;float:right;">登出</a>
        </div>
        <div class="container" style="padding:25px 0px;min-width:960px;">
            <div class="span12" id="counter2"></div>
            <div class="row-fluid main_con">
                <div class="span1"></div>	
                <div class="span5" id="game_player" style="">
                    <div class="player_name">
                        <a href="#" class="player" name="1">
                            安安幾歲住哪
                        </a><br>
                        <a href="#" class="player" name="2">
                            安安幾歲住哪
                        </a><br>
                    </div>
                </div>
                <div class="span5" id="game_record">
                    <div class="play_content">
                        
                    </div>
                </div>
                <div class="span1"></div>
            </div>
        </div>
        <div class="data_box" style="display:none;">
            <div class="player_1_data">
                <p>對戰類型	勝	敗	離	勝率			上次查詢</p>
                <p>玩家對電腦	27	-	0	 --			2011/08/21 18:23</p>
                <p>水晶之痕	2	-	0	 --			2013/11/08 19:22</p>
                <p>5對5 組隊積分模式	0	-	0	 --			2013/11/08 19:22</p>
                <p>5對5 單人積分模式	34	41	0	45.33%	 好運姐 愛國者</p>
                <p>#2 ( +1 ) 在 </p>
                <p>青銅 分區 V</p>
                <p>點數: 86	2013/11/08 19:22</p>
                <p>一般模式	501	-	2	 --			2013/11/08 19:22</p>
                <p>一般模式 3對3	0	-	0	 --			2013/11/08 19:22</p>
            </div>
            <div class="player_2_data">
                <p>0安安喔</p>
                <p>玩家對電腦	27	-	0	 --			2011/08/21 18:23</p>
                <p>水晶之痕	2	-	0	 --			2013/11/08 19:22</p>
                <p>5對5 組隊積分模式	0	-	0	 --			2013/11/08 19:22</p>
                <p>5對5 單人積分模式	34	41	0	45.33%	 好運姐 愛國者</p>
                <p>#2 ( +1 ) 在 </p>
                <p>青銅 分區 V</p>
                <p>點數: 86	2013/11/08 19:22</p>
                <p>一般模式	501	-	2	 --			2013/11/08 19:22</p>
                <p>一般模式 3對3	0	-	0	 --			2013/11/08 19:22</p>
            </div>
        </div>
    </body>
</html>
