{% extends 'layout.html' %}
{% block body %}

<div class="main_top">
</div>
<div class="container" style="padding:25px 0px;min-width:960px;">
    <div class="logo">
        <img src="static/img/koiju_word-log.png"/>
    </div>
    <div class="row-fluid" style="height:600px;">
        <div class="span12"></div>
        <div style="clear:both;">
        <div>
            <div class="content_img"></div>
            <form novalidate action='.' method='POST' class="login_form">
                {{ form.hidden_tag()}}
                <label for="account">帳號</label>
                {{ form.account(placeholder="帳號" ) }}
                <label for="pwd">密碼</label>
                {{ form.pwd(placeholder="密碼")}}<br>
                <input type='submit' value='進入戰鬥' class="btn btn-danger go_btn">
            </form>
            <form action='{{ url_for("users.adduser") }}' class="create_btn">
                <input type='submit' value='戰鬥員訓練' class="btn btn-inverse">
            </form>
        </div>
    </div>
</div>



<audio src="{{ url_for('static', filename='audio/PR.ogg') }}" autoplay loop></audio>
{% for field in form %}
    {% if field.errors %}
    <p style='color:red'> {{ field.errors|join(' ') }} </p>
    {% endif %}
{% endfor %}
{% endblock %}
